In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
warnings.warn("this will not show")

In [2]:
df = pd.read_json("scout_car.json", lines=True)

In [3]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [4]:
df["Comfort&Convenience"] = df["\nComfort & Convenience\n"]
df["Entertainment&Media"] = df["\nEntertainment & Media\n"]
df["Extras"] = df["\nExtras\n"]
df["Safety&Security"] = df["\nSafety & Security\n"]

In [5]:
drop_columns = ["kW","prev_owner","Next Inspection","null","Body","Full Service","Non-smoking Vehicle","Electricity consumption",
                "Last Service Date","Other Fuel Types", "Availability","Last Timing Belt Service Date", "Available from",
                "\nComfort & Convenience\n","\nEntertainment & Media\n","\nExtras\n","\nSafety & Security\n","description",
               "Body Color Original","Model Code",'short_description','url','registration','Emission Label','Country version',
               'Offer Number']
df.drop(drop_columns, axis = 1, inplace = True)

In [6]:
df.shape

(15919, 32)

In [7]:
df.isnull().sum()/df.shape[0]*100

make_model              0.000000
body_type               0.376908
price                   0.000000
vat                    28.349771
km                      0.000000
hp                      0.000000
Type                    0.012564
Previous Owners        41.711163
Inspection new         75.299956
Warranty               34.047365
Make                    0.000000
Model                   0.000000
First Registration     10.032037
Body Color              3.750236
Paint Type             36.258559
Upholstery             23.368302
Nr. of Doors            1.331742
Nr. of Seats            6.137320
Gearing Type            0.000000
Displacement            3.115774
Cylinders              35.680633
Weight                 43.809285
Drive chain            43.080596
Fuel                    0.000000
Consumption            11.973114
CO2 Emission           11.357497
Emission Class         18.977323
Gears                  29.599849
Comfort&Convenience     5.779257
Entertainment&Media     8.631195
Extras                 18.606696
Safety&Security         6.168729
dtype: float64

def show_nans(df, limit):
    missing = df.isnull().sum()*100/df.shape[0]
    return missing.loc[lambda x : x > limit]

## make_model

## body_type

## price

## vat

## km

In [8]:
df["km"] = df.km.str.replace(',','').str.extract('(\d{1,8})')[0].astype('float')

## Previous Owners

In [9]:
df["Previous_Owners"] = [item[0] if type(item) == list else item for item in df["Previous Owners"]]
df["Previous_Owners"] = df["Previous_Owners"].str.strip("\n").astype('float')

In [10]:
df["Previous_Owners"].value_counts(dropna=False)

1.0    8294
NaN    6640
2.0     778
0.0     188
3.0      17
4.0       2
Name: Previous_Owners, dtype: int64

In [11]:
df.drop("Previous Owners", axis=1, inplace=True)

## hp

In [12]:
df["hp_kW"] = df.hp.str.extract('(\d{1,4})')[0].astype('float')

In [13]:
#Alternatively
#oto.replace({"hp" : {" kW" : "", "-" : "0"}}, regex = True, inplace = True)
#oto["hp_kw"] = pd.to_numeric(oto.hp)

In [14]:
df.drop('hp', axis=1, inplace=True)

## Type

In [15]:
df["Type"] = df.Type.str[1]

In [16]:
df['Type'].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

## Warranty

In [17]:
df["Warranty"] = df.Warranty.apply(lambda x : x[0] if type(x)==list else x)
df["Warranty"] = df.Warranty.str.strip("\n").str.extract('(\d{1,2})')[0].astype("float")

## Inspection new

In [18]:
df["Inspection_new"] = [item[0] if type(item) == list else item for item in df["Inspection new"]]
df["Inspection_new"] = df["Inspection_new"].str.strip("\n")

In [19]:
df.drop("Inspection new", axis=1, inplace=True)

## Make

In [20]:
df["Make"] = df.Make.str.strip('\n')

In [21]:
df.drop("Make", axis=1, inplace=True)

## Model

In [22]:
df["Model"] = df.Model.str[1]

In [23]:
df.drop("Model", axis=1, inplace=True)

## First Registration & age

In [24]:
df['First Registration'] = df['First Registration'].str[1].astype('float')

In [25]:
df['age'] = 2019 - df['First Registration']

In [26]:
df.drop("First Registration", axis=1, inplace=True)

## Body Color

In [27]:
df['Body_Color'] = df['Body Color'].str[1]

In [28]:
df.drop("Body Color", axis=1, inplace=True)

## Paint Type

In [29]:
df['Paint_Type'] = df['Paint Type'].str[0].str.strip('\n')

In [30]:
df.drop("Paint Type", axis=1, inplace=True)

## Upholstery

In [31]:
df["Upholstery"] = [item[0] if type(item) == list else item for item in df.Upholstery]

In [32]:
df["Upholstery"] = df.Upholstery.str.strip("\n").str.split(", ")

In [33]:
df["Upholstery"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Cloth, Black]           5821
NaN                      3720
[Part leather, Black]    1121
[Cloth]                  1005
[Cloth, Grey]             891
[Cloth, Other]            639
[Full leather, Black]     575
[Black]                   491
[Grey]                    273
[Other, Other]            182
[Part leather]            140
[Full leather]            139
[Full leather, Brown]     116
[Part leather, Grey]      116
[Other, Black]            110
[Full leather, Other]      72
[Full leather, Grey]       67
[Part leather, Other]      65
[Other]                    56
[Part leather, Brown]      50
[alcantara, Black]         47
[Velour, Black]            36
[Full leather, Beige]      36
[Cloth, Brown]             28
[Velour]                   16
[Other, Grey]              15
[Cloth, Beige]             13
[Cloth, Blue]              12
[Brown]                    12
[Velour, Grey]              8
[Cloth, White]              8
[alcantara, Grey]           6
[Cloth, Red]                5
[Other, Yellow]             4
[Beige]                     3
[Part leather, Red]         3
[Part leather, Beige]       2
[Full leather, Blue]        2
[alcantara]                 2
[White]                     2
[Part leather, White]       2
[alcantara, Other]          2
[Blue]                      2
[Other, Brown]              1
[Full leather, Red]         1
[Full leather, White]       1
[Cloth, Orange]             1
Name: Upholstery, dtype: int64

In [34]:
u_type = ["Cloth",'Part leather', 'Full leather','Velour', 'alcantara']
df["Upholstery_type"] = df["Upholstery"].apply(lambda x : x[0] if type(x) == list and x[0] in u_type else np.nan)

In [35]:
df["Upholstery_type"].value_counts(dropna=False)

Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: Upholstery_type, dtype: int64

In [36]:
df["Upholstery_type"] = df["Upholstery_type"].fillna("Other")

In [37]:
color = ['Black', 'Grey', 'Brown', 'Beige', 'White', 'Blue', 'Red', 'Yellow', 'Orange']

def finder(x):
    if type(x) == list and len(x) == 2:
        return x[1]
    elif type(x) == list and x[0] in color:
        return x[0]
    else:
        return np.nan
    
df['Upholstery_color'] = df.Upholstery.apply(finder)
df['Upholstery_color'] = df['Upholstery_color'].fillna('Other')

In [38]:
df["Upholstery_color"].value_counts(dropna=False)

Black     8201
Other     6038
Grey      1376
Brown      207
Beige       54
Blue        16
White       13
Red          9
Yellow       4
Orange       1
Name: Upholstery_color, dtype: int64

In [39]:
df.drop("Upholstery", axis=1, inplace=True)

## Nr. of Doors

In [40]:
df['Nr_of_Doors'] = df['Nr. of Doors'].str[0].str.strip('\n').astype('float')

In [41]:
df.drop("Nr. of Doors", axis=1, inplace=True)

## Nr. of Seats

In [42]:
df['Nr_of_Seats'] = df['Nr. of Seats'].str[0].str.strip('\n').astype('float')

In [43]:
df.drop("Nr. of Seats", axis=1, inplace=True)

## Gearing Type

In [44]:
df['Gearing_Type'] = df['Gearing Type'].str[1]

In [45]:
df.drop("Gearing Type", axis=1, inplace=True)

## Displacement

In [46]:
df["Displacement"] = df.Displacement.str[0].str.strip('\n').str.replace(',','').str.extract('(\d{1,5})')[0].astype("float")

In [47]:
# Alternatif yöntem (\n) ları sildikten sonrası için
# df.replace({"Displacement_cc" : {"," : "", " " : "", "cc" : ""}}, regex = True, inplace = True)

In [48]:
df["Displacement_cc"] = df["Displacement"]

In [49]:
df.drop("Displacement", axis=1, inplace=True)

## Cylinders

In [50]:
df["Cylinders"] = df.Cylinders.str[0].str.strip('\n').astype("float")

## Weight

In [51]:
df["Weight_kg"] = df.Weight.str[0].str.strip('\n').str.replace(',','').str.extract('(\d{1,6})')[0].astype('float')

In [52]:
df.drop("Weight", axis=1, inplace=True)

## Drive chain

In [53]:
df['Drive_chain'] = df['Drive chain'].str[0].str.strip('\n')

In [54]:
df.drop("Drive chain", axis=1, inplace=True)

## Fuel

In [55]:
df["Fuel"] = df.Fuel.str[1].str.split("/").str[0].str.strip()

In [56]:
df["Fuel"] = df.Fuel.str.split("(")

In [57]:
df["Fuel"] = df.Fuel.apply(lambda x : x[0] if "Particulate Filter)" in x else x[0]).str.strip()

In [58]:
benzine = ["Gasoline", "Super 95","Regular","Super E10 95","Super Plus 98","Super Plus E10 98", "Others"]
lpg = ["LPG","Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x
df["Fuel"] = df.Fuel.apply(fueltype)

In [59]:
df.Fuel.value_counts(dropna=False)

Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: Fuel, dtype: int64

In [60]:
#Alternatively
#oto["fuel_new"] = oto.Fuel.str[1]
#diesel_bool = oto["fuel_new"].str.contains("diesel", case = False, regex = True)
#lpg_bool = oto["fuel_new"].str.contains("lpg|cng|bio|domestic|electric", case = False, regex = True)
#oto.loc[diesel_bool, "fuel_new"] = "Diesel"
#oto.loc[lpg_bool, "fuel_new"] = "LPG/CNG"
#benz = list(oto.fuel_new.loc[lambda x : x != "Diesel"][lambda x : x != "LPG/CNG"].index)
#oto.fuel_new.iloc[benz] = "Benzine"

## Consumption

In [61]:
df["Consumption"].value_counts(dropna=False).head

<bound method NDFrame.head of NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[3.6 l/100 km (comb)], [], [4.4 l/100 km (country)]]                                    1
[\n, 4.8 l/100 km (comb), \n, 5.6 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[7.6 l/100 km (comb)], [], []]                                                          1
[[5.6 l/100 km (comb)], [7.6 l/100 km (city)], [4.4 l/100 km (country)]]                 1
[\n, 4.7 l/100 km (comb), \n, \n, \n]                                                    1
Name: Consumption, Length: 882, dtype: int64>

In [62]:
def parser1(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[0] != []:
            return x[0][0]
        else:
            return np.nan
    else:
        return x[1]

def parser2(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[1] != []:
            return x[1][0]
        else:
            return np.nan
    elif x[3].endswith(')'):
        return x[3]
    else:
        return np.nan

def parser3(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[2] != []:
            return x[2][0]
        else:
            return np.nan
    elif type(x[0]) != list and x[3].endswith(')'):
        return x[5]
    else:
        return np.nan

In [63]:
df['cons_comb'] = df.Consumption.apply(parser1).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['cons_city'] = df.Consumption.apply(parser2).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['cons_country'] = df.Consumption.apply(parser3).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")

In [64]:
df.drop('Consumption', axis=1,inplace=True)

## CO2 Emission

In [65]:
df["CO2_Emission"] = [item[0] if type(item) == list else item for item in df["CO2 Emission"]]
df["CO2_Emission"] = df["CO2_Emission"].str.strip("\n").str.rstrip(" g CO2/km (comb)").str.replace(",", ".").astype("float")

In [66]:
df.drop("CO2 Emission", axis=1, inplace=True)

## Emission Class

In [67]:
df["Emission_Class"] = [item[0] if type(item) == list else item for item in df["Emission Class"]]
df["Emission_Class"] = df["Emission_Class"].str.strip("\n")

In [68]:
df["Emission_Class"].value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission_Class, dtype: int64

In [69]:
df.replace({"Emission_Class" : {"Euro 6d-TEMP":"Euro 6", "Euro 6c":"Euro 6", "Euro 6d":"Euro 6"}}, regex = True, inplace = True)

In [70]:
df["Emission_Class"].value_counts(dropna=False)

Euro 6    12173
NaN        3628
Euro 5       78
Euro 4       40
Name: Emission_Class, dtype: int64

In [71]:
df.drop("Emission Class", axis=1, inplace=True)

## Gears

In [72]:
df["Gears"] = df.Gears.str[0].str.strip('\n')

## Comfort & Convenience

In [73]:
df["Comfort&Convenience"] = [",".join(item) if type(item) == list else item for item in df["Comfort&Convenience"]]

## Entertainment & Media

In [74]:
df["Entertainment&Media"] = [",".join(item) if type(item) == list else item for item in df["Entertainment&Media"]]

## Extras

In [75]:
df["Extras"] = [",".join(item) if type(item) == list else item for item in df["Extras"]]

## Safety & Security

In [76]:
df["Safety&Security"] = [",".join(item) if type(item) == list else item for item in df["Safety&Security"]]

In [77]:
df.shape

(15919, 33)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   Type                 15917 non-null  object
 6   Warranty             4853 non-null   float64
 7   Cylinders            10239 non-null  float64
 8   Fuel                 15919 non-null  object
 9   Gears                11207 non-null  object
 10  Comfort&Convenience  14999 non-null  object
 11  Entertainment&Media  14545 non-null  object
 12  Extras               12957 non-null  object
 13  Safety&Security      14937 non-null  object
 14  Previous_Owners      9279 non-null   float64
 15  hp_kW                15831 non-null  float64
 16  Inspection_new       3932 non-null   object
 17  age                  14322 non-null  float64
 18  Body_Color           15322 non-null  object
 19  Paint_Type           10147 non-null  object
 20  Upholstery_type      15919 non-null  object
 21  Upholstery_color     15919 non-null  object
 22  Nr_of_Doors          15707 non-null  float64
 23  Nr_of_Seats          14942 non-null  float64
 24  Gearing_Type         15919 non-null  object
 25  Displacement_cc      15423 non-null  float64
 26  Weight_kg            8945 non-null   float64
 27  Drive_chain          9061 non-null   object
 28  cons_comb            13886 non-null  float64
 29  cons_city            13483 non-null  float64
 30  cons_country         13543 non-null  float64
 31  CO2_Emission         13483 non-null  float64
 32  Emission_Class       12291 non-null  object
dtypes: float64(14), int64(1), object(18)
memory usage: 2.9+ MB

In [79]:
df.to_csv("clean_scout_20200923.csv", index=False)